<nav class="navbar navbar-dark bg-primary mb-5">
  <a class="navbar-brand" href="/">
    <h4>Solace. Exchange Portal 2.0</h4>

  </a>
  <!--
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="#">Live Data</a>
      <a class="nav-item nav-link" href="#">Historical Data</a>
      <a class="nav-item nav-link" href="#">User Profile</a>
    </div>
  </div>
  -->
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.solace.com" target="_blank"><i class="fa fa-leaf"></i></a>
      <a class="nav-item nav-link" href="https://dev.solace.com" target="_blank"><i class="fa fa-th"></i></a>
      <a class="nav-item nav-link" href="https://facebook.com/solacedotcom" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</nav>
