<table width="95%" class="table table-hover">
  <thead>
    <tr class="table-light" style="text-align: justify">
      <td style="text-align: center">Symbol Name</td>
      <td>Volume</td>
      <td>Price</td>
      <td>Diff</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let symbol of symbols; index as i">
      <td style="text-align: center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label [class.active]="symbol.isSubscribed" [ngClass]="[this.isReadyToSubscribe? 'btn btn-primary': 'btn btn-outline-secondary']" ngbButtonLabel style="width: auto;">
            <input type="checkbox" name="symbolList" [disabled]="!this.isReadyToSubscribe" ngbButton [checked]="symbol.isSubscribed" (click)="toggleSubscribeSymbol(i)">
            {{symbol.displayName}}
          </label>
        </div>
      </td>
      <td> {{symbol.vTotal}} </td>
      <td style="width: 100px;">
        <span
          [ngClass]="[symbol.pDiff > 0.0? 'text-danger': (symbol.pDiff < 0.0? 'text-success': 'text-muted')]">
          <i [ngClass]="[symbol.pDiff > 0.0? 'fa fa-caret-up': (symbol.pDiff < 0.0? 'fa fa-caret-down': 'text-muted')]"></i>{{symbol.pClose}}
        </span>
      </td>
      <td style="width: 100px;"><span
          [ngClass]="[symbol.pDiff > 0.0? 'text-danger': (symbol.pDiff < 0.0? 'text-success': 'text-muted')]">{{symbol.pDiff}}</span>
      </td>
    </tr>
  </tbody>
</table>
